
     <footer class="footer bg-light">
        <div class="footer-left col-md-4 col-sm-6">
          <p class="about">
            <h3 class="font-weight-bold"> About Us</h3> <span> THAISON Shop with the motto "Accompany with your fashion style" will be a safe and prestigious shopping place, because we always uphold the criteria to bring you the best quality products. with always affordable prices</span>
          </p>
          <div class="icons">
            <a href="https://www.facebook.com"><i class="fab fa-facebook w3-hover-text-blue"></i></a>
            <a href="#"><i class="fab fa-twitter w3-hover-text-blue"></i></a>
            <a href="#"><i class="fab fa-linkedin w3-hover-text-blue"></i></a>
            <a href="#"><i class="fab fa-google-plus w3-hover-text-blue"></i></a>
            <a href="#"><i class="fab fa-instagram w3-hover-text-blue"></i></a>
          </div>
        </div>
        <div class="footer-center col-md-4 col-sm-6">
          <div>
            <i class="fa fa-map-marker"></i>
            <p class="text-dark">Van Giang -Hung Yen</p>
          </div>
          <div>
            <i class="fa fa-phone"></i>
            <p class="text-dark"> (+84)838623996</p>
          </div>
          <div class="menu">
            <i class="fa fa-envelope"></i>
            <p><a href="https://mail.google.com/mail/u/0/#inbox" class="w3-hover-text-blue"> thaisonnguyentl@gmail.com</a></p>
          </div>
        </div>
        <div class="footer-right col-md-4 col-sm-6 ">
          <h3 class="text-dark font-weight-bold"> ༄༂THAISON SHOP༄༂</h3>
          <p class="menu text-dark">
            <a href="{{ url_for('index') }}"> Home</a> |
            <a class="nav-link w3-hover-text-blue" href="{{url_for('woman')}}"> <i class="fas fa-female"></i> Woman</a> |
            <a  class="nav-link w3-hover-text-blue" href="{{ url_for('man') }}"> <i class="fas fa-male"></i> Man</a> |
            <a href="#"><i class="far fa-address-card"></i> About Us</a>
          </p>
          <p class="name text-dark"> THAISON SHOP &copy; 2019 All Copyrights Reserved</p>
        </div>
        <a href="#" class="w3-button w3-black w3-padding-large w3-margin-bottom float-md-right"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
      </footer>