<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
  <div class="d-flex justify-content-center"> <h1 class="text-dark" >FEATURED PRODUCTS <hr></h1></div>
  <div class="container mr-4">
      <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="card" style="width: 20rem;">
                  <div class="w3-display-container">
                      <a href="/womandetail/5db3b64473b67ed2fe297ab6">
                          <img src="../../static/images/prodwoman6.jpg" class="card-img-top w3-hover-opacity" alt="" height="350px" >
                      </a>
                      <div class="w3-display-middle w3-display-hover">
                        <a href="/womandetail/5db3b64473b67ed2fe297ab6">
                            <button class="w3-button w3-black">Buy now <i class="fa fa-shopping-cart"></i></button>
                        </a>                         
                      </div>
                  </div>                      
                        <span class="w3-tag w3-display-topleft">New</span>
                        <div class="card-body justify-content-center">
                          <h5 class="card-title text-center w3-hover-text-blue">Áo khoác da Rider</h5>
                        </div>
                </div>
          </div>
          <div class="col-md-4 col-sm-6 col-12">
                <div class="card" style="width: 20rem;">
                  <div class="w3-display-container">
                      <a href="/womandetail/5db3b64873b67ed2fe297ac7">
                          <img src="../../static/images/prodwoman23.jpg" class="card-img-top w3-hover-opacity" alt="" height="350px">
                      </a>
                      <div class="w3-display-middle w3-display-hover">
                          <a href="/womandetail/5db3b64873b67ed2fe297ac7">
                              <button type="button" class="w3-button w3-black">Buy now <i class="fas fa-shopping-cart"></i></button>
                          </a>
                      </div>
                  </div>                      
                        <span class="w3-tag w3-display-topleft">New</span>
                        <div class="card-body justify-content-center">
                          <h5 class="card-title text-center w3-hover-text-blue">Áo khoác da tay khóa</h5>                          
                        </div>
                </div>
          </div>
          <div class="col-md-4 col-sm-6 col-12">
            <div class="card" style="width: 20rem;">
              <div class="w3-display-container">
                  <a href="/womandetail/5db3b64573b67ed2fe297abc">
                    <img src="../../static/images/prodwoman12.jpg" class="card-img-top w3-hover-opacity" alt="" height="350px">
                  </a>  
                  <div class="w3-display-middle w3-display-hover">
                      <a href="/womandetail/5db3b64573b67ed2fe297abc">
                          <button type="button" class="w3-button w3-black">Buy now <i class="fas fa-shopping-cart"></i></button>
                      </a>
                  </div>
              </div>                                  
                    <span class="w3-tag w3-display-topleft">New</span>
                    <div class="card-body justify-content-center">
                      <h5 class="card-title text-center w3-hover-text-blue">Áo khoác da lộn</h5>                      
                    </div>
              </div>
          </div>
      </div>
  </div> <br>
  <div class="container mr-4 mt-3">
    <div class="row">
        <div class="col-md-4 col-sm-6 col-12">
              <div class="card" style="width: 20rem;">
                <div class="w3-display-container">
                    <a href="/detail/5db16492b3ca254fc44d655d">
                      <img src="https://cdn.shopify.com/s/files/1/0013/7982/7795/products/9889E3C8-344C-4b7a-A90C-79E36CF923C3_1024x1024_2x_1024x1024_2x_5d6d4fdb-6545-4095-9b89-6445afda20b2_1024x1024.png?v=1542164029" class="card-img-top w3-hover-opacity" alt="" height="350px" >
                    </a>
                    <div class="w3-display-middle w3-display-hover">
                        <a href="/detail/5db16492b3ca254fc44d655d">
                            <button type="button" class="w3-button w3-black">Buy now <i class="fas fa-shopping-cart"></i></button>
                        </a>
                    </div>
                </div>                                      
                      <span class="w3-tag w3-display-topleft">New</span>
                      <div class="card-body  justify-content-center">
                        <h5 class="card-title text-center w3-hover-text-blue">Áo dạ choàng</h5>
                      </div>
              </div>
        </div>
        <div class="col-md-4 col-sm-6 col-12">
              <div class="card" style="width: 20rem;">
                <div class="w3-display-container">
                    <a href="/detail/5db16494b3ca254fc44d6566">
                        <img src="https://www.dhresource.com/0x0/f2/albu/g6/M01/84/F9/rBVaSFpwW_eAec8hAAiiIC7VsAo210.jpg" class="card-img-top w3-hover-opacity" alt="" height="350px">
                    </a>  
                    <div class="w3-display-middle w3-display-hover">
                        <a href="/detail/5db16494b3ca254fc44d6566">
                            <button type="button" class="w3-button w3-black">Buy now <i class="fas fa-shopping-cart"></i></button>
                        </a>
                    </div>
                </div>                                  
                      <span class="w3-tag w3-display-topleft">New</span>
                      <div class="card-body justify-content-center">
                        <h5 class="card-title text-center w3-hover-text-blue">Áo khoác bò</h5>                    
                      </div>
                </div>
        </div>
        <div class="col-md-4 col-sm-6 col-12">
          <div class="card" style="width: 20rem;">
            <div class="w3-display-container">
                <a href="/detail/5db16494b3ca254fc44d6565">
                    <img src="https://image.dhgate.com/0x0/f2/albu/g7/M00/AB/10/rBVaSltVlGiAD0VcAAFsVoMgZsg607.jpg" class="card-img-top w3-hover-opacity" alt="" height="350px">
                </a>  
                <div class="w3-display-middle w3-display-hover">
                    <a href="/detail/5db16494b3ca254fc44d6565">
                        <button type="button" class="w3-button w3-black">Buy now <i class="fas fa-shopping-cart"></i></button>
                    </a>
                </div>
            </div>                           
                  <span class="w3-tag w3-display-topleft">New</span>
                  <div class="card-body justify-content-center">
                    <h5 class="card-title text-center w3-hover-text-blue">Quần jean rách gối</h5>                   
                  </div>
            </div>
    </div>
    </div>
  </div>
   
</body>
</html>