<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin All</title>
    {% include "meta-data.html" %}
</head>
<body>
    <div class="container" style="margin-top:60px;">
        <a href="{{ url_for('logout') }}" class="d-flex justify-content-end "> <button class="w3-button w3-red w3-round">Đăng xuất</button></a>
        <br>
        <div class="row">
            <div class="col-md-6">
                    <a href="{{ url_for('admin') }}"> <button class="w3-btn w3-round w3-indigo w3-xxlarge">Quản lý đơn hàng </button></a> 
            </div>
            <div class="col-md-6">
                    <a href="{{ url_for('adminProduct') }}"> <button class="w3-btn w3-round w3-indigo w3-xxlarge">Quản lý danh sách sản phẩm</button></a> 
            </div>
        </div>
        
    </div>
   
   
</body>
</html>