<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BMM_SHOP</title>
    {% include "meta-data.html" %}
</head>
<body>
     {% include 'homepage/navigation.html' %}
     <br>
     {% include 'homepage/carousel.html' %}
     <br>
     {% include 'homepage/hot-product.html' %}
     
     {% include 'homepage/footer.html' %}
</body>
</html>