<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Payment</title>
    {% include "meta-data.html" %}
</head>
<body>
  {% include 'homepage/navigation.html' %}
  <br><br><br>
<div class="container">
<div class="row">
  <div class="col-md-6 mt-5 w3-panel w3-border-left w3-border-blue">
  <h3 class="d-flex justify-content-center font-weight-bold">Thông Tin Thanh Toán</h3>
  <form method="post">        
        <div class="form-group">
          <label for="inputName">Họ và tên*</label>
          <input type="text" required name="name" class="form-control" id="inputName" placeholder="Họ và tên">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputNumber">Số điện thoại*</label>
            <input type="text" required name="numberphone" class="form-control" id="inputNumber" placeholder="Số điện thoại">
          </div>
          <div class="form-group col-md-6">
            <label for="inputEmail">Email*</label>
            <input type="email" class="form-control" name="mail" id="inputEmail" placeholder="Email">
          </div>
        </div>
        <div class="form-group">
          <label for="inputAddress"> Tỉnh/Thành Phố*</label>
          <input type="text" required name="city" class="form-control" id="inputAddress" placeholder="Tỉnh/Thành Phố">
        </div>
        <div class="form-group">
          <label for="inputAddress2"> Quận /huyện*</label>
          <input type="text" required name="district" class="form-control" id="inputAddress2" placeholder="Quận/huyện">
        </div>  
        <div class="form-group">
          <label for="inputAddress3"> Địa chỉ* </label>
          <input type="text" required name="address" class="form-control" id="inputAddress3" placeholder="Số nhà ,tên thôn,xóm ...">
        </div>           
        <button type="submit" class="btn btn-primary">ĐẶT HÀNG</button>
      
  </form>
  </div>
  <div class="w3-panel w3-border w3-border-green col-md-6 mt-5">
    <h3 class="text-primary d-flex justify-content-center font-weight-bold">ĐƠN HÀNG CỦA BẠN </h3><br>
    <table class="w3-table">
      <tr>
        <th>Sản Phẩm </th>
        <th class="w3-center">Tên sản phẩm</th>
        <th class="w3-center">Size</th>
        <th class="w3-center">Số Lượng</th>
        <th class="w3-center">Giá</th>
       
      </tr>
     {% for product in allproduct %}           
      <tr>
        <td><img src="{{product.image}}" class="img-thumbnail" alt="" width="30%" alt=""></td>
        <td class="w3-center">{{ product.title }}</td>
        <td class="w3-center">{{ product.size }}</td>
        <td class="w3-center">{{ product.count }}</td>
        <td class="w3-center">{{ product.price }} VNĐ</td>      
      </tr>                        
      {% endfor %}
    </table>
    <br> <br><br>
    <div class="row">
        <div class="col-md-6">
            <a href="{{ url_for('shoppcard') }}"><button class="w3-button w3-block w3-black"><i class="fa fa-arrow-left text-dark w3-hover-text-red"></i>QUAY LẠI GIỎ HÀNG</button></a>
        </div>
      <div class="col-md-6">
          <h4 class="d-flex justify-content-end font-weight-bold text-danger">Total: {{total}} VNĐ</h4>
      </div>      
    </div>
    
  </div>
</div>
</div>
{% include 'homepage/footer.html' %}
</body>
</html>