<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shopping Card</title>
    {% include "meta-data.html" %}
</head>
<body>
  {% include 'homepage/navigation.html' %}
    <br><br><br><br>
    <div class="container">
        
        <table class="w3-table w3-striped w3-bordered">
           
            <tr>
              <th>Sản Phẩm </th>
              <th class="w3-center">Tên sản phẩm</th>
              <th class="w3-center">Size</th>
              <th class="w3-center">Số Lượng</th>
              <th class="w3-center">Giá</th>
              <th></th>
            </tr>
           {% for product in allproduct %}           
            <tr>
              <td><img src="{{product.image}}" class="img-thumbnail" alt="" width="20%"></td>
              <td class="w3-center">{{ product.title }}</td>
              <td class="w3-center">{{ product.size }}</td>
              <td class="w3-center">{{ product.count }}</td>
              <td class="w3-center">{{ product.price }} VNĐ</td>
              <td class="w3-center"><a href="{{ url_for('delete',productid = product.id) }}"><i class="fa fa-trash text-dark w3-hover-text-red"> Xóa</i></a></td>
            </tr>                        
            {% endfor %}
          </table>
          <h3 class="text-danger float-right">Total: {{ total }} VNĐ</h3>
       
          <br><br>

          <div class="container d-flex justify-content-end">
              <div>
                  {% if indexnum != 0 %}
                  <a href="{{ url_for('payment') }}"><button class="w3-button w3-block w3-black"><i class="far fa-money-bill-alt"></i> THANH TOÁN</button></a>   
                  {% else %}    
                    <h4 class="text-warning">Không có sản phẩm trong giỏ hàng </h4>    
                  {% endif %} 
              </div>
              <br><br>
                  <div class="col-md-6 d-flex justify-content-end">
                      <div class="row">
                          <div class="col-md-6">
                              <a href="{{ url_for('woman') }}"><button class="w3-button w3-block w3-black"><i class="fa fa-arrow-left text-dark"></i> TIẾP TỤC MUA ĐỒ NỮ</button></a>
                          </div>
                          <div class="col-md-6">
                              <a href="{{ url_for('man') }}"><button class="w3-button w3-block w3-black"><i class="fa fa-arrow-left text-dark"></i> TIẾP TỤC MUA ĐỒ NAM</button></a>
                          </div>
                      </div>   
                  </div>
          </div>
          
    </div>
    {% include 'homepage/footer.html' %}
</body>
</html>