<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OrderSuccess</title>
    {% include "meta-data.html" %}
</head>
<body>
        {% include 'homepage/navigation.html' %}
        <br><br><br>
    <div class="container">
            <div class="w3-panel w3-border w3-border-green col-md-12 mt-5">
               <h1><i class="far fa-check-circle text-success d-flex justify-content-center"> ĐẶT HÀNG THÀNH CÔNG </i></h1> 
               <div class="row">
                   <div class="col-md-3">
                       <img src="../static/images/gio hang.jpg" alt="" width="100%" height="200px">
                   </div>
                   <div class="col-md-9 d-flex justify-content-center">
                       <h3>Cảm ơn quý khách đã tin tưởng BMM SHOP <br>
                       Chúng tôi sẽ giao hàng cho bạn trong vòng từ 1-3 ngày làm việc <br>
                       Nếu có yêu cầu gì đặc biệt quý khách vui lòng liên hệ số điện thoại 0838623996 <br>
                    </h3>
                   </div>  
               </div>
               <footer class="w3-container w3-light-gray">
                <h3 class="text-dark font-weight-bold d-flex justify-content-center">  ༄༂BMM SHOP༄༂ </h3>
              </footer>
            </div>
            <a href="{{ url_for('index') }}"><button class="w3-button w3-block w3-black col-md-2 float-right"><i class="fa fa-arrow-left text-dark w3-hover-text-red"></i> BACK HOME</button></a>              
    </div><br>
       
    {% include 'homepage/footer.html' %}
</body>
</html>