<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WomanPage</title>
    {% include "meta-data.html" %}
</head>
<body>
        {% include 'homepage/navigation.html' %}
        <br><br><br>
      <div class="container my-4 mr-4 pl-2 pt-3">
        <div class="row">
             
             {% for cloth in all_clother %}
             <div class="col-md-4">
                  <div class="card" style="width: 20rem;">
                    <div class="w3-display-container">
                        <a href="{{ url_for('womandetail',womanid = cloth.id) }}"> 
                            <img src="{{cloth.image}}" class="card-img-top  w3-hover-opacity" alt="" height="350px" >
                        </a>
                        <div class="w3-display-middle w3-display-hover">
                            <a href="{{ url_for('womandetail',womanid = cloth.id) }}">                  
                                <button type="button" class="w3-button w3-black">Buy Now <i class="fas fa-shopping-cart"></i></button>
                            </a>
                        </div>
                    </div>
                   
                     
                      <div class="card-body  justify-content-center">
                          <h5 class="card-title text-center w3-hover-text-blue">{{cloth.title}}</h5>                       
                      </div>
                  </div>
                    <br>
             </div>
       {% endfor %}
        
        </div>
      </div>
    {% include 'homepage/footer.html' %}
</body>
</html>